section.history__states {
  margin: 175px 0 195px 0;

  .title__wrapper {
    h2 {
      padding-left: 125px;
      font-size: 64px;
    }
  }

  .history__states__main {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .history__states__item {
      max-width: 280px;
    }

    .history__states__main-content {
      display: flex;
      flex-basis: 80%;
      justify-content: space-between;

      .history__states__item__instagram {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        .history__states__item__instagram-img img {
          border-radius: 50%;
          width: 78px;
          height: auto;
        }

        .history__states__item__instagram-content {
          padding-left: 18px;

          p {
            color: $thirdСolor;
            padding-bottom: 4px;
          }
        }
      }

      .history__states__item-content {
        img {
          margin-bottom: 25px;
        }

        .history__states__item-content-text {
          position: relative;
          word-break: break-all;

          &::after {
            content: '';
            display: block;
            left: 0;
            right: 0;
            bottom: 0;
            height: 80px;
            position: absolute;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1) 100%);
          }
        }

        a.history__states__item-content-link {
          display: flex;
          justify-content: flex-end;

          span {
            margin: 10px 10px 0 0;
            border-bottom: 1px solid $secondaryColor;
            padding: 0 5px;
          }
        }

      }

    }

    .history__states__main-link {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        text-align: center;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 1100px) {
  section.history__states .history__states__main .history__states__main-content {
    flex-basis: 89%;
  }
}

@media (max-width: 1000px) {
  section.history__states .history__states__main .history__states__main-content {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  section.history__states .history__states__main .history__states__item {
    max-width: 300px;
    flex-basis: 100%;
    margin-bottom: 40px;
  }

  section.history__states .history__states__main {
    flex-direction: column;
  }

  section.history__states {
    margin: 80px 0;
  }

  section.history__states .history__states__main .history__states__main-link p {
    font-size: 19px;
  }
}

@media (max-width: 650px) {
  section.history__states .title__wrapper h2 {
    padding-left: 0;
    max-width: 280px;
    text-align: center;
    margin: 0 auto;
    font-size: 45px;
  }
}
