<footer>
  <div class="wrapper">
    <div class="footer__main">

      <a href="/" class="footer-logo">
        <svg width="49" height="35" viewBox="0 0 49 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="15" width="20" height="20" rx="10" fill="#FFFFFF" />
          <rect x="29" width="20" height="35" rx="10" fill="#FFFFFF" />
        </svg>
      </a>

      <ul class="footer__nav-menu">
        <li class="footer__nav-menu-item"><a href="">About Us</a></li>
        <li class="footer__nav-menu-item"><a href="">Privacy Policy</a></li>
      </ul>
      <form class="footer__form">
        <fieldset>
          <input type="email" required placeholder="Enter your email" />
        </fieldset>
        <fieldset>
          <button type="submit" class="btn-g footer-btn">Sign Up Now</button>
        </fieldset>

      </form>


    </div>
  </div>
</footer>
