//color ================
$Gray_light:#8F95AC;
$Black_light: #2C2E3E;
$Black_dark: #1E2030;
$Red: #FF2D23;

//ALL title ===================
@mixin title {
  font-style: normal;
  font-weight: bold;
  color: $Black_light;
}

//h1
@mixin h1 {
  @include title;
  font-size: 48px;
  line-height: 55px;

  @media (max-width: 1280px) {
    font-size: 42px;
    line-height: 50px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 35px;
  }
}

// h2
@mixin h2 {
  @include title;
  font-size: 35px;
  line-height: 40px;

  @media (max-width: 1280px) {
    font-size: 30px;
    line-height: 35px;
  }

  @media (max-width: 768px) {
    font-size: 26px;
    line-height: 33px;
  }
}

// h3
@mixin h3 {
  @include title;
  font-size: 25px;
  line-height: 30px;

  @media (max-width: 1280px) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 22px;
  }
}

// h5
@mixin h5 {
  @include title;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: 1280px) {
    font-size: 14px;
    line-height: 26px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 18px;
  }
}

//text ===================
@mixin text {
  font-style: normal;
  font-weight: 300;
  color: $Black_light;
}

@mixin big_text {
  @include text;
  font-size: 20px;
  line-height: 34px;

  @media (max-width: 1280px) {
    font-size: 18px;
    line-height: 26px;
  }

  @media (max-width: 768px) {
    font-size: 15px;
    line-height: 22px;
  }
}


@mixin normal_text {
  @include text;
  font-size: 14px;
  line-height: 18px;

  @media (max-width: 1280px) {
    font-size: 14px;
    line-height: 18px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 18px;
  }
}

// === main style===

.wrapper {
  max-width: 1600px;
  padding: 0 65px;
  margin: 0 auto;

  @media (max-width: 1280px) {
    padding: 0 40px;
  }

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

body {
  font-family: "Formular", sans-serif;
  font-size: 14px;
  color: $Black_dark
}

//btn

.g-btn {
  font-family: "Formular", sans-serif;
  @include h5;
  background-color: #FF0C00;
  color: #fff;
  border-radius: 32.5px;
  padding: 14px 40px 16px 40px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    box-shadow: 0px 10px 20px rgba(255, 45, 35, 0.3);
  }

  &:active {
    background-color: $Red
  }

  @media (max-width: 1280px) {}


}


@media (max-width: 1280px) {}

@media (max-width: 768px) {}
