<section class="section pre-header">
  <div class="wrapper">
    <div class="pre-header__main">
      <h1>Недвижимость <br>
        Санкт-Петербурга <br>
        и Москвы
      </h1>
      <form>
        <div class="pre-header__form__main">

          <div class="pre-header__form__item form__input select">
            <label for="pre-header__form-city">
              <p>Выбрать город</p>
              <a href="#" id="select" class="seclect">Выбрать город
              </a>
              <ul class="list__select">
                <li>Москва</li>
                <li>Санкт-Петербурга</li>
                <li>Оренбург</li>
              </ul>
              <input type="hidden" id="hiden__input" value="Выбрать город">

            </label>
          </div>

          <div class="pre-header__form__item form__input">
            <label for="city">
              <p>Ваш Email</p>
              <input type="email" placeholder="info@mail.ru">
            </label>
          </div>
          <div class="pre-header__form__item">
            <button class="g-btn" type="submit">Кнопка действия</button>
          </div>
          <div class="pre-header__form__item">
            <input id="pre-header__form-checkbox" type="checkbox">

            <label for="pre-header__form-checkbox">
              <p>Отправляя нам данную форму вы соглашаетесь с <br> <a href="#"> политикой конфиденциальности</a></p>
            </label>
          </div>

        </div>
      </form>
    </div>
  </div>
</section>
