<section class="slider">
  <div class="wrapper">
    <h1 class="title">Features</h1>
    <h2 class="title tetle-second">
      Some of the features and advantages that we provide for those of you who
      store data in this Data Warehouse.
    </h2>
    <div class="slider__main" id="slider">

      <div class="slider__card">
        <h3 class="title">First Feature</h3>
        <p class="slider__card-content">
          Little Red Cap opened her eyes and when she saw the sunbeams dancing
          to and fro through the trees and how the ground was covered with
          beautiful flowers.
        </p>
        <a href="" class="slider__card-link">Learn more
          <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 15L21 8L15 1" stroke="#9C69E2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M21 8H1" stroke="#9C69E2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
        <span class="slider__card-number">1</span>
      </div>

      <div class="slider__card new">
        <h3 class="title">Second Feature</h3>
        <p class="slider__card-content">
          Each time she picked one she thought that she could see an even more
          beautiful one a little way off, and she ran after it, going further
          and further into the woods.
        </p>
        <a href="" class="slider__card-link">Learn more
          <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 15L21 8L15 1" stroke="#9C69E2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M21 8H1" stroke="#9C69E2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
        <span class="slider__card-number">2</span>
      </div>

      <!-- <div class="slider__card">
        <h3 class="title">Third Feature</h3>
        <p class="slider__card-content">
          The wolf pressed the latch, and the door opened. He stepped inside,
          went straight to the grandmother's bed, and ate her up.
        </p>
        <a href="" class="slider__card-link">Learn more
          <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 15L21 8L15 1" stroke="#9C69E2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M21 8H1" stroke="#9C69E2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
        <span class="slider__card-number">3</span>
      </div>

      <div class="slider__card">
        <h3 class="title">Fourth Feature</h3>
        <p class="slider__card-content">
          Little Red Cap had run after the flowers. After she had gathered so
          many that she could not carry any more, she remembered her
          grandmother.
        </p>
        <a href="" class="slider__card-link">Learn more
          <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 15L21 8L15 1" stroke="#9C69E2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M21 8H1" stroke="#9C69E2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
        <span class="slider__card-number">4</span>
      </div> -->
    </div>
  </div>
</section>
