<footer>
  <div class="wrapper">

    <div class="footer__main">

      <div class="footer__main-item">
        <a href="/" class="footer-logo">
          american
          <span>travel</span>
        </a>
      </div>

      <div class="footer__main-item">
        <ul>
          <li>
            <span>Адрес:</span>
            <p>
              Санкт-Петербург,
              <br>
              Невский проспект, дом 45
            </p>
          </li>
          <li>
            <span>Режим работы:</span>
            <p>с 10:00 до 22:00</p>
          </li>
        </ul>
      </div>

      <div class="footer__main-item">
        <ul>
          <li>
            <span>Социальные сети:</span>
            <a href="#">Instagram</a>
            <a href="#">Telegram</a>
            <a href="#">Vkontakte</a>
          </li>
          <li>
            <span>Почта:</span>
            <a href="mailto:americantravel@gmail.com">americantravel@gmail.com</a>
          </li>
        </ul>
      </div>

      <div class="footer__main-item">
        <a href="tel:89991234555" class="footer-phone">
          8 999 123 45 55
        </a>
      </div>

    </div>

    <div class="footer-copyright">
      <p>americantravel © 2019</p>
    </div>

  </div>
</footer>
