.btn-red {
  color: #fff;
  background-color: #d63e39;
  border-color: #d63e39;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  height: 50px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  line-height: 36px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-red:hover {
  color: #d63e39;
  background-color: #fff;
}

.red {
  color: #b6332e;
}

.title-g-cot {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color: #4a4d4a;
}

section.pay__system {
  padding: 50px 0;
  background: url("../images/pay__system-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.pay__system .pay__system__main {
  max-width: 630px;
}

section.pay__system .pay__system__main h1 {
  margin-bottom: 35px;
}

section.pay__system .pay__system__main .pay__system-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.16);
  height: 120px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 0 30px 0 60px;
}

section.pay__system .pay__system__main .pay__system-item:last-child {
  margin-bottom: 0;
}

section.pay__system .pay__system__main .pay__system-item p {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
  max-width: 225px;
}

section.pay__system .pay__system__main .pay__system-item .btn {
  text-transform: capitalize;
  font-size: 24px;
  height: 68px;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.sales__department {
  padding: 60px 0 100px;
}

section.sales__department h2 {
  text-align: center;
}

section.sales__department .sales__department__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

section.sales__department .sales__department__main .sales__department-images {
  position: relative;
  padding: 0px 150px;
}

section.sales__department .sales__department__main .sales__department-images img {
  width: 100%;
  height: auto;
}

section.sales__department .sales__department__main .sales__department-item {
  font-weight: bold;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.sales__department .sales__department__main .sales__department-item p {
  margin: 0;
  line-height: 1;
  color: #4a4d4a;
  font-size: 22px;
}

section.sales__department .sales__department__main .sales__department-item span {
  width: 10px;
  height: 10px;
  background-color: #a68fcb;
  display: block;
  border-radius: 50%;
  margin-left: 28px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

section.sales__department .sales__department__main .sales__department-item span:after {
  content: "";
  position: absolute;
  background-color: #959595;
}

section.sales__department .sales__department__main .sales__department-item span:before {
  content: "";
  position: absolute;
  background-color: #959595;
}

section.sales__department .sales__department__main .instagram {
  top: 10%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
}

section.sales__department .sales__department__main .instagram span::after {
  width: 15px;
  height: 1px;
  left: 10px;
  top: 50%;
  -webkit-transform: translate(10px, -50%);
          transform: translate(10px, -50%);
}

section.sales__department .sales__department__main .instagram span:before {
  top: 26px;
  left: 26px;
  width: 60px;
  height: 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

section.sales__department .sales__department__main .tea {
  top: 50%;
  -webkit-transform: translate(-109%, 1%);
          transform: translate(-109%, 1%);
}

section.sales__department .sales__department__main .tea span:after {
  width: 60px;
  height: 1px;
  top: 50%;
  -webkit-transform: translate(35%, -50%);
          transform: translate(35%, -50%);
}

section.sales__department .sales__department__main .call {
  top: 80%;
  -webkit-transform: translate(-75%, 80%);
          transform: translate(-75%, 80%);
}

section.sales__department .sales__department__main .call span:after {
  width: 15px;
  height: 1px;
  top: 50%;
  -webkit-transform: translate(80%, -50%);
          transform: translate(80%, -50%);
}

section.sales__department .sales__department__main .call span:before {
  top: -20px;
  left: 16px;
  width: 70px;
  height: 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

section.sales__department .sales__department__main .series {
  top: 80%;
  -webkit-transform: translate(200%, 80%);
          transform: translate(200%, 80%);
}

section.sales__department .sales__department__main .series span {
  margin: 0 15px 0 0;
}

section.sales__department .sales__department__main .series span:after {
  width: 30px;
  height: 1px;
  top: 50%;
  -webkit-transform: translate(-120%, -50%);
          transform: translate(-120%, -50%);
}

section.sales__department .sales__department__main .series span:before {
  width: 80px;
  height: 1px;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
  top: -35px;
  left: -83px;
}

section.sales__department .sales__department__main .cat {
  top: 35%;
  -webkit-transform: translate(280%, 35%);
          transform: translate(280%, 35%);
}

section.sales__department .sales__department__main .cat span {
  margin: 0 15px 0 0;
}

section.sales__department .sales__department__main .cat span:after {
  width: 35px;
  height: 1px;
  top: 50%;
  -webkit-transform: translate(-115%, -50%);
          transform: translate(-115%, -50%);
}

section.sales__department .sales__department__main .cat span:before {
  width: 40px;
  height: 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -74px;
  top: 18px;
}

section.sales__department .sales__department__main .caronavirus {
  top: 0;
  -webkit-transform: translate(215%, -39%);
          transform: translate(215%, -39%);
}

section.sales__department .sales__department__main .caronavirus span {
  margin: 0 15px 0 0;
}

section.sales__department .sales__department__main .caronavirus span:after {
  width: 35px;
  height: 1px;
  top: 50%;
  -webkit-transform: translate(-125%, -50%);
          transform: translate(-125%, -50%);
}

section.sales__department .sales__department__main .caronavirus span:before {
  width: 100px;
  height: 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -129px;
  top: 40px;
}

section.our__cot {
  padding: 60px 0 80px;
  background-color: #f3f3f3;
}

section.our__cot h2 {
  text-align: center;
}

section.our__cot .our__cot__main {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.our__cot .our__cot__main .our__cot__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 175px;
}

section.our__cot .our__cot__main .our__cot__item:last-child p::before {
  display: none;
}

section.our__cot .our__cot__main .our__cot__item span {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-45%, -54%);
          transform: translate(-45%, -54%);
  color: rgba(74, 77, 74, 0.129);
  font-size: 250px;
  font-weight: bold;
}

section.our__cot .our__cot__main .our__cot__item p {
  text-align: center;
  margin: 0;
  padding-top: 60px;
  max-width: 230px;
  font-size: 17px;
}

section.our__cot .our__cot__main .our__cot__item p:before {
  content: "";
  position: absolute;
  top: 0;
  left: 33%;
  width: 150px;
  height: 9px;
  background-image: url("../images/shape.png");
  background-repeat: no-repeat;
}

section.right__motivation {
  padding: 65px 0;
}

section.right__motivation h2 {
  text-align: center;
}

section.right__motivation .right__motivation__main {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.right__motivation .right__motivation__main .right__motivation__item .right__motivation__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 25px;
}

section.right__motivation .right__motivation__main .right__motivation__item p {
  max-width: 250px;
  text-align: center;
  color: #525452;
  font-size: 17px;
  line-height: 1.2;
}

section.excel__files {
  padding: 75px 0 50px;
  background-image: url("../images/excel__files-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.excel__files h2 {
  text-align: center;
  width: 100%;
  font-size: 36px;
}

section.excel__files h3 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

section.excel__files .excel__files__main {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.excel__files .excel__files__main .excel__files__main__item {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  padding: 30px 18px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  height: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.excel__files .excel__files__main .excel__files__main__item .excel__files__main__item-title p {
  font-size: 17px;
  text-align: center;
  color: #525452;
  line-height: 1.2;
}

section.excel__files .excel__files__main .excel__files__main__item .excel__files__main__item-title p:first-child {
  height: 145px;
  position: relative;
}

section.excel__files .excel__files__main .excel__files__main__item .excel__files__main__item-title p:first-child:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  height: 3px;
  width: 140px;
  background-color: #d63e39;
}

section.excel__files .excel__files__main .excel__files__main__item .excel__files__main__item-title p:last-child {
  font-weight: bold;
}

section.excel__files .excel__files__main .excel__files__main__item .excel__files__main__item-img {
  height: 150px;
  padding: 18px 28px;
  background-image: url("../images/excel__files-planshet.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.why__us {
  padding: 70px 0 80px;
}

section.why__us h2 {
  text-align: center;
}

section.why__us .why__us__main {
  margin-top: 60px;
  padding: 25px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px dashed #d63e39;
  border-radius: 10px;
}

section.why__us .why__us__main .why__us__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  height: 115px;
}

section.why__us .why__us__main p {
  max-width: 250px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.2;
  color: #525452;
}

section.customers__say {
  padding: 60px 0 30px;
  background-image: url("../images/customers__say-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.customers__say h2 {
  text-align: center;
}

section.customers__say .customers__say__main {
  margin: 50px 0 30px;
  border-radius: 10px;
  border: 3px solid rgba(149, 149, 149, 0.22);
  padding: 30px 25px;
  position: relative;
}

section.customers__say .customers__say__main button.arrow__slider {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 104.5%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  border-radius: 50%;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: none;
}

section.customers__say .customers__say__main button.arrow__slider.next__slide {
  left: 0%;
}

section.customers__say .customers__say__main .customers__say__carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.customers__say .customers__say__main .customers__say__carusel .customers__say__item {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

section.customers__say .customers__say__main .customers__say__carusel .customers__say__item-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.customers__say .customers__say__main .customers__say__carusel h5 {
  font-weight: bold;
  text-align: center;
  font-size: 26px;
  margin: 0;
  padding: 15px 20px;
}

section.customers__say .customers__say__main .customers__say__carusel h5 + p {
  text-align: center;
}

section.customers__say .customers__say__main .customers__say__carusel p {
  color: #525452;
  line-height: 1.2;
}

section.customers__say .customers__say__main .customers__say__carusel .customers__say__item-text {
  padding: 15px 10px;
  border-top: 1px solid #d63e39;
  border-bottom: 1px solid #d63e39;
  margin: 0 5px;
}

section.customers__say .customers__say__main .customers__say__carusel .customers__say__item-text p {
  margin: 0;
  font-weight: bold;
  color: #525452;
}

section.customers__say .customers__say-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.customers__say .customers__say-btn a.btn {
  text-transform: full-size-kana;
  padding: 0 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.how__much {
  padding: 60px 0 90px;
}

section.how__much h2 {
  text-align: center;
}

section.how__much .how__much__main {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.how__much .how__much__main .how__much__item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

section.how__much .how__much__main .how__much__item:first-child {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

section.how__much .how__much__main .how__much__item:last-child {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

section.how__much .how__much__main .how__much__item .how__much__item-colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eff2f4;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.how__much .how__much__main .how__much__item .how__much__item-colum span {
  text-align: center;
  color: #4a4d4a;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

section.how__much .how__much__main .how__much__item .top {
  background-color: #d63e39;
  color: #fff;
  padding: 10px 6px;
  line-height: 1.2;
}

section.how__much .how__much__main .how__much__item .top p {
  margin: 0;
  text-align: center;
}

section.how__much .how__much__main .how__much__item .center {
  border-bottom: 1px solid #fff;
}

section.how__much .how__much__main .how__much__item .bottom {
  padding: 0px 20px;
  height: 90px;
}

section.how__much .how__much__main .how__much__item .bottom a {
  background-color: inherit;
  color: #4a4d4a;
}

section.how__much .how__much__main .how__much__item .bottom a:hover {
  background-color: #d63e39;
  color: #fff;
}

section.buy__payment__system {
  padding: 70px 0 65px;
  background-image: url("../images/buy__payment__system-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

section.buy__payment__system h2 {
  color: #fff;
  font-size: 30px;
  max-width: 930px;
  margin: 0 auto;
}

section.buy__payment__system .buy__payment__system__main {
  margin-top: 40px;
}

section.buy__payment__system .buy__payment__system__main form {
  max-width: 600px;
  margin: 0 auto;
}

section.buy__payment__system .buy__payment__system__main form .buy__payment__system__text {
  max-width: 320px;
  margin: 30px auto 0 auto;
}

section.buy__payment__system .buy__payment__system__main form .buy__payment__system__radio {
  max-width: 510px;
  margin: 0 auto;
}

section.buy__payment__system .buy__payment__system__main form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.buy__payment__system .buy__payment__system__main form label input {
  width: 13px;
  height: 13px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

section.buy__payment__system .buy__payment__system__main form label p {
  margin: 0;
}

section.buy__payment__system .buy__payment__system__main form input {
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;
  height: 50px;
  border: none;
  color: #4a4d4a;
  font-size: 17px;
  padding-left: 21px;
}

section.buy__payment__system .buy__payment__system__main form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  section.pay__system {
    background-position: 75%;
  }
  section.customers__say .customers__say__main .customers__say__carusel .customers__say__item-video {
    padding: 0 4px;
  }
  section.customers__say .customers__say__main button.arrow__slider {
    left: 105.5%;
  }
  section.how__much .how__much__main .how__much__item .top p {
    line-height: 1;
  }
}

@media (max-width: 1180px) {
  section.excel__files .excel__files__main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  section.excel__files .excel__files__main .excel__files__main__item {
    margin-right: 5px;
  }
  section.excel__files .excel__files__main .excel__files__main__item:last-child {
    margin-right: 0;
  }
}

@media (max-width: 1026px) {
  section.excel__files .excel__files__main .excel__files__main__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
  section.excel__files .excel__files__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 991px) {
  section.sales__department .sales__department__main .sales__department-item p {
    font-size: 17px;
  }
  section.sales__department .sales__department__main .sales__department-item span {
    margin-left: 5px;
  }
  section.sales__department .sales__department__main .caronavirus {
    -webkit-transform: translate(175%, -39%);
            transform: translate(175%, -39%);
  }
  section.sales__department .sales__department__main .caronavirus span::before {
    width: 52px;
    left: -87px;
    top: 23px;
  }
  section.sales__department .sales__department__main .series {
    -webkit-transform: translate(184%, 156%);
            transform: translate(184%, 156%);
  }
  section.sales__department .sales__department__main .series span::before {
    width: 34px;
    top: -11px;
    left: -56px;
  }
  section.sales__department .sales__department__main .cat {
    -webkit-transform: translate(246%, -30%);
            transform: translate(246%, -30%);
  }
  section.our__cot {
    padding: 60px 0 20px;
  }
  section.our__cot .our__cot__main .our__cot__item p {
    font-size: 15px;
  }
  section.our__cot .our__cot__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  section.our__cot .our__cot__main .our__cot__item {
    margin-bottom: 30px;
  }
  section.why__us .why__us__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.why__us .why__us__main .why__us__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 20px;
  }
  section.why__us .why__us__main .why__us__item p {
    margin: 0 auto;
  }
  section.customers__say .customers__say__main button.arrow__slider {
    left: 106.5%;
  }
  section.how__much .how__much__main .how__much__item:first-child {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  section.how__much .how__much__main .how__much__item:last-child {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (max-width: 768px) {
  section.pay__system .pay__system__main .pay__system-item {
    padding: 0 20px;
  }
  section.sales__department .sales__department__main .sales__department-images {
    position: relative;
    padding: 0px 100px;
  }
  section.sales__department .sales__department__main .sales__department-item p {
    font-size: 13px;
  }
  section.sales__department .sales__department__main .tea span::after {
    width: 45px;
  }
  section.sales__department .sales__department__main .call span::before {
    top: -10px;
    left: 21px;
    width: 40px;
  }
  section.sales__department .sales__department__main .caronavirus span::before {
    left: -88px;
  }
  section.sales__department .sales__department__main .instagram span::before {
    top: 18px;
    left: 30px;
    width: 40px;
  }
  section.sales__department .sales__department__main .caronavirus span,
  section.sales__department .sales__department__main .cat span,
  section.sales__department .sales__department__main .series span {
    margin: 0 8px 0 0;
  }
  section.sales__department .sales__department__main .caronavirus {
    -webkit-transform: translate(205%, -39%);
            transform: translate(205%, -39%);
  }
  section.sales__department .sales__department__main .cat {
    -webkit-transform: translate(281%, -30%);
            transform: translate(281%, -30%);
  }
  section.our__cot .our__cot__main .our__cot__item span {
    -webkit-transform: translate(-17%, -54%);
            transform: translate(-17%, -54%);
  }
  section.right__motivation {
    padding: 30px 0;
  }
  section.right__motivation .right__motivation__main {
    margin-top: 60px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.excel__files .excel__files__main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.excel__files .excel__files__main .excel__files__main__item {
    margin-bottom: 20px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 49%;
  }
  section.why__us .why__us__main p {
    max-width: 208px;
    font-size: 15px;
  }
  section.customers__say .customers__say__main button.arrow__slider {
    left: 109.5%;
  }
  section.how__much .how__much__main .how__much__item:first-child {
    display: none;
  }
  section.how__much .how__much__main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.how__much .how__much__main .how__much__item:last-child p {
    font-size: 13px;
  }
}

@media (max-width: 615px) {
  section.sales__department .sales__department__main .sales__department-images {
    padding: 0px 125px;
  }
  section.sales__department .sales__department__main .series {
    -webkit-transform: translate(160%, 254%);
            transform: translate(160%, 254%);
  }
  section.sales__department .sales__department__main .series span::before {
    top: -12px;
  }
  section.sales__department .sales__department__main .caronavirus {
    -webkit-transform: translate(175%, -39%);
            transform: translate(175%, -39%);
  }
  section.sales__department .sales__department__main .cat {
    -webkit-transform: translate(228%, 20%);
            transform: translate(228%, 20%);
  }
  section.sales__department .sales__department__main .cat span::before {
    width: 0;
  }
}

@media (max-width: 575px) {
  section.sales__department .sales__department__main .sales__department-images {
    padding: 0px 143px;
  }
  section.right__motivation .right__motivation__main .right__motivation__item p {
    font-size: 15px;
    margin: 0 auto;
  }
  section.right__motivation .right__motivation__main .right__motivation__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }
  ul.slick-dots {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: -30px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  ul.slick-dots button {
    display: none;
  }
  ul.slick-dots li {
    margin-left: 20px;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    background-color: #d63e39;
    opacity: 0.5;
  }
  ul.slick-dots li.slick-active {
    opacity: 1;
  }
  section.customers__say .customers__say__main button.arrow__slider {
    opacity: 0;
  }
}

@media (max-width: 550px) {
  section.buy__payment__system .buy__payment__system__main form label p strong {
    display: block;
  }
  section.sales__department .sales__department__main .sales__department-images {
    padding: 0;
    max-width: 290px;
  }
  section.pay__system {
    background-position: 68%;
  }
  .title-g-cot {
    font-size: 30px;
  }
  section.pay__system .pay__system__main .pay__system-item {
    margin-bottom: 10px;
  }
  section.pay__system .pay__system__main .pay__system-item p {
    font-size: 20px;
  }
  section.pay__system .pay__system__main .pay__system-item .btn {
    font-size: 23px;
    height: 59px;
    width: 204px;
  }
  section.sales__department .sales__department__main .instagram {
    top: 10%;
    -webkit-transform: translate(-34%, -149%);
            transform: translate(-34%, -149%);
  }
  section.sales__department .sales__department__main .instagram span::before {
    top: 24px;
    left: 11px;
    width: 40px;
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
  section.sales__department .sales__department__main .sales__department-item.call p,
  section.sales__department .sales__department__main .sales__department-item.series p {
    max-width: 70px;
  }
  section.sales__department .sales__department__main .call {
    top: 80%;
    -webkit-transform: translate(-3%, 162%);
            transform: translate(-3%, 162%);
  }
  section.sales__department .sales__department__main .call span::before {
    top: -15px;
    left: 6px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  section.sales__department .sales__department__main .instagram {
    top: 10%;
    -webkit-transform: translate(-7%, -248%);
            transform: translate(-7%, -248%);
  }
  section.sales__department .sales__department__main .caronavirus {
    -webkit-transform: translate(135%, -124%);
            transform: translate(135%, -124%);
  }
  section.sales__department .sales__department__main .caronavirus span::after {
    width: 23px;
  }
  section.sales__department .sales__department__main .caronavirus span::before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 30px;
    left: -55px;
  }
  section.sales__department .sales__department__main .series {
    -webkit-transform: translate(235%, 216%);
            transform: translate(235%, 216%);
  }
  section.sales__department .sales__department__main .cat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate(97%, 6%);
            transform: translate(97%, 6%);
  }
  section.sales__department .sales__department__main .cat p {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 5px;
  }
  section.sales__department .sales__department__main .cat span:after {
    width: 25px;
    top: 150%;
    -webkit-transform: translate(50%, -27%) rotate(214deg);
            transform: translate(50%, -27%) rotate(214deg);
  }
  section.sales__department .sales__department__main .tea {
    -webkit-transform: translate(70%, 28%);
            transform: translate(70%, 28%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.sales__department .sales__department__main .tea p {
    font-size: 11px;
    margin-left: 5px;
  }
  section.sales__department .sales__department__main .tea span {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  section.sales__department .sales__department__main .tea span::after {
    -webkit-transform: translate(-109%, -526%) rotate(190deg);
            transform: translate(-109%, -526%) rotate(190deg);
  }
  section.our__cot {
    padding: 33px 0 75px;
  }
  section.our__cot .our__cot__main {
    margin-top: 60px;
  }
  section.why__us .why__us__main .why__us__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
  section.why__us .why__us__main .why__us__item p {
    margin: 0 auto;
  }
  section.why__us {
    padding: 35px 0 35px;
  }
  section.how__much .how__much__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.how__much .how__much__main .how__much__item {
    margin-bottom: 20px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  section.how__much .how__much__main .how__much__item:last-child {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  section.how__much .how__much__main .how__much__item:last-child p {
    font-size: 15px;
  }
  section.how__much {
    padding: 50px 0;
  }
  section.buy__payment__system .buy__payment__system__main ul li {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0;
  }
  section.buy__payment__system .buy__payment__system__main ul li strong {
    display: block;
  }
  section.buy__payment__system .buy__payment__system__main form {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  section.pay__system .pay__system__main .pay__system-item {
    height: 80px;
  }
  section.excel__files .excel__files__main .excel__files__main__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 100%;
  }
  section.excel__files .excel__files__main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.customers__say .customers__say__main p {
    font-size: 15px;
  }
  section.customers__say .customers__say__main {
    padding: 10px;
  }
  section.customers__say .customers__say__main {
    margin: 50px 0;
  }
}

@media (max-width: 400px) {
  section.buy__payment__system h2 {
    font-size: 22px;
  }
  section.buy__payment__system {
    padding: 25px 0 45px;
  }
  .title-g-cot {
    font-size: 25px;
  }
  section.pay__system {
    background-position: 75%;
  }
  section.pay__system .pay__system__main .pay__system-item p {
    font-size: 15px;
  }
  section.pay__system .pay__system__main .pay__system-item .btn {
    font-size: 19px;
    height: 50px;
    width: 125px;
  }
  section.pay__system .pay__system__main .pay__system-item {
    padding: 0 10px;
  }
  section.pay__system .pay__system__main .pay__system-item p {
    max-width: 140px;
  }
  section.sales__department {
    padding: 35px 0 40px;
  }
  section.how__much .how__much__main .how__much__item:last-child p {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */